[Unit]
Description=Cloudflare DNS update check for %i
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/cloudflare_dyndns.sh
EnvironmentFile=/etc/cloudflare_dyndns/%i
